.mainNav {
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.navLinkContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navLink {
    color: white;
    background-color: #2f4e66;
    border-bottom: 4px solid #2f4e66;
    padding: 10px 0;
    text-decoration: none;
    transition: 0.3s ease;
}

.navLink:hover {
    border-bottom: 4px solid #ffffff;
    padding: 6px 0;
    color: #37A8FF;
}

.active {
    color: #be7475;
    animation: none;
}

.active:hover {
    color: #be7475;
    border-bottom: 4px solid #2f4e66;
    padding: 10px 0px;
}