.mainNav {
    width: 100%;
    background-color: #4E4A59;
    padding: 25px;
    font-size: 24px;
    display: flex;
    position: sticky;
    top: 0;
    margin-bottom: 25px;
    font-weight: bold;
}

.navLinkContainer {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navLink {
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
    background-color: #4E4A59;
    border-top: 4px solid #4E4A59;
    border-bottom: 4px solid #4E4A59;
    padding: 10px 0;
}

.navLink:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0;
    color: #101A2B
}

.active {
    color: #9EB1B7;
}

.active:hover {
    font-size: 24px;
    text-shadow: none;
    color: #9EB1B7;
    border-top: 4px solid #4E4A59;
    border-bottom: 4px solid #4E4A59;
}