.homePageContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: fit-content;
    justify-content: center;
    align-items: center;
    grid-row: 2 / 3;

}

.aboutMe {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.imgContainer {
    width: 30%;
}

.aboutMeImg {
    width: 100%;
    border: 3px solid #00478B;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.aboutMeImg:hover {
    border: 3px solid #089992;
}

.aboutMeText {
    width: 50%;
    background-color: white;
    color: black;
    padding: 25px;
    overflow: scroll;
    border-radius: 25px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.aboutMeText:hover .aboutMeTitle {
    color: #089992;
}

.aboutMeTitle {
    transition: 0.2s ease-in-out;
    font-family: "Raleway", sans-serif;
    color: #00478B;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px
}

.aboutMeTitle:hover {
    cursor: pointer;
}

.aboutMePgraph {
    line-height: 150%;
    font-size: 1em;
}

.em {
    font-style: italic;
    font-weight: bold;
}

.bold {
    font-weight: 700;
}

.homePageContainer .callToAction {
    font-family: 'Raleway';
    margin-top: 30px;
    font-size: 24px;
}

.homePageContainer .callToAction:hover {
    background-color: #032BA3;
}

@media only screen and (max-width: 1024px) {
    .homePageContainer {
        margin-top: 130px;
        justify-content: center;
        height: fit-content;
        flex-direction: column-reverse;
    }

    .homePageContainer .callToAction {
        margin-bottom: 30px;
        margin-top: 0;
    }
    
    .aboutMe {
        flex-direction: column;
    }

    .imgContainer {
        width: 50%;
        margin-bottom: 10px;
    }

    .aboutMeText {
        width: 75%;
    }
}

@media only screen and (max-width: 850px) {
    .homePageContainer {
        margin-top: 150px;
    }

    .aboutMe a {
        width: 65%;
    }
}

@media only screen and (max-width: 770px) {
    .homePageContainer {
        margin-top: 130px;
    }
}

@media only screen and (max-width: 650px) {
    .homePageContainer {
        margin-top: 75px;
    }

    .homePageContainer .callToAction {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 550px) {
    .homePageContainer {
        margin-top: 20px;
    }

    .aboutMeText {
        max-height: 300px;
        overflow: scroll;
    }
}

@media only screen and (orientation: landscape) and (max-height: 800px) and (max-width: 850px) {
    .homePageContainer {
        margin-top: 350px;
    }

    .homePageContainer .callToAction {
        font-size: 16px;
    }

    .imgContainer{
        display: flex;
        justify-content: center;
    }

    .aboutMeImg {
        width: 50%;
    }
}

@media only screen and (orientation: landscape) and (max-height: 390px) and (max-width: 850px) {
    .homePageContainer {
        margin-top: 400px;
    }
}

@media only screen and (orientation: landscape) and (max-height: 340px) and (max-width: 850px) {
    .homePageContainer {
        margin-top: 450px;
    }
}

@media only screen and (orientation: landscape) and (max-height: 290px) and (max-width: 850px) {
    .homePageContainer {
        margin-top: 500px;
    }
}