.homeBackground {
    position: fixed;
    z-index: 1;
    justify-self: center;
    width: 100%;
}

.homePageContainer {
    width: 100%;
    align-self: center;
    display: flex;
    justify-self: center;
    margin-top: 10px;
}

.homePageContainer:first-child {
    z-index: 1;
}

.homePageContainer:nth-child(2) {
    z-index: 5;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center;
    z-index: 5;
}

.aboutMePic {
    width: 30%;
}

.aboutMeImg {
    width: 100%;
    border: 2px solid #283c4b;
    margin-bottom: 25px;
}

.aboutMeText {
    width: 50%;
    background-color: #283c4b;
    color: white;
    padding: 25px;
}

.aboutMeTitle {
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.aboutMePgraph {
    letter-spacing: 2px;
    line-height: 130%;
}