.projectItem {
    align-self: center;
    width: 80%;
    display: flex;
    height: fit-content;
    background-color: white;
    padding: 20px 10px 20px 10px;
    color: black;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.projectItem:not(.reverse) {
    flex-direction: row;
    padding-right: 20px;
}

.projectItem:not(.regular) {
    flex-direction: row-reverse;
    padding-left: 20px;
}

.projectItem .carousel-root {
    border: 3px solid #089992;
    transition: 0.3s ease-in-out;
}

.projectItem .carousel-root:hover {
    border-color: #0BE6DB;
}

.projectItem:not(.reverse) .carousel-root {
    margin-right: 25px;
}

.projectItem:not(.regular) .carousel-root {
    margin-left: 25px;
}

.projectItem .carousel-root, .projectItem .carousel {
    border-radius: 20px;
}

.projectItem .carousel-status {
    margin-right: 10px;
}

.projectItem .slider {
    min-width: 600px;
    max-width: 600px;
    min-height: 300px;
    max-height: 300px;
}

.imageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    min-width: 600px;
    max-width: 600px;
    min-height: 300px;
    max-height: 300px;
    border-radius: 20px;
}

.imageWrapper:hover {
    cursor: pointer;
}

.imageWrapper img {
    min-width: 600px;
    max-width: 600px;
    min-height: 300px;
    max-height: 300px;
    object-fit: cover;
}

.projectItem .thumbs-wrapper {
    display: none;
}

.projectItem .error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 600px;
    max-width: 600px;
    min-height: 300px;
    max-height: 300px;
    text-align: center;
    color: red;
    border: 1px solid black;
    font-size: 24px;
    border-radius: 20px;
}

.projectItem:not(.reverse) .error {
    margin-right: 25px;
}

.projectItem:not(.regular) .error {
    margin-left: 25px;
}

.projectItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectItem header {
    display: flex;
    width: 50%;
    font-family: 'Raleway';
    font-size: 24px;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 5px 0;
    transition: 0.3s ease;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}

.projectItemName {
    font-size: 24px;
    color: black;
    align-self: center;
    padding-bottom: 5px;
}

.projectItem a {
    text-decoration: none;
    color: #00478B;
    border-bottom: 1px solid white;
    padding-bottom: 4px;
    transition: 0.2s ease-in-out;
}

.projectItem a:hover {
    color: #089992;
    padding-bottom: 1px;
    border-bottom: 4px solid black;
}

.projectItemDesc {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.projectItemTechnologies {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.projectItemTechnologies img {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 1300px) {
    .projectItem {
        width: 90%;
    }
}

@media only screen and (max-width: 1150px) {
    .projectItem {
        padding: 20px;
    }
    
    .projectItem:not(.regular), .projectItem:not(.reverse) {
        flex-direction: column-reverse;
        align-items: center;
    }

    .projectItemDesc {
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .projectItemTechnologies {
        margin-bottom: 25px;
    }

    .imageWrapper {
        width: fit-content;
    }

    .carousel-root {
        min-width: 600px;
        max-width: 600px;
        min-height: 300px;
        max-height: 300px;
        align-self: center;
    }

    .projectItem:not(.reverse) .carousel-root {
        margin-right: 0;
    }
    
    .projectItem:not(.regular) .carousel-root {
        margin-left: 0;
    }

    .projectItem:not(.reverse) .error {
        margin-right: 0;
    }
    
    .projectItem:not(.regular) .error {
        margin-left: 0;
    }
}

@media only screen and (max-width: 770px) {
    .projectItem header {
        font-size: 20px;
    }

    .projectItem header p {
        font-size: 20px;
    }

    .projectItemDesc {
        font-size: 18px;
    }

    .projectItemTechnologies {
        font-size: 18px;
    }
}

@media only screen and (max-width: 650px) {
    .carousel-root {
        min-width: 500px;
        max-width: 500px;
        min-height: 250px;
        max-height: 250px;
    }

    .projectItem .slider {
        min-width: 500px;
        max-width: 500px;
        min-height: 250px;
        max-height: 250px;
    }

    .imageWrapper {
        min-width: 500px;
        max-width: 500px;
        min-height: 250px;
        max-height: 250px;
    }

    .imageWrapper img {
        min-width: 500px;
        max-width: 500px;
        min-height: 250px;
        max-height: 250px;
    }

    .projectItem .error {
        min-width: 500px;
        max-width: 500px;
        min-height: 250px;
        max-height: 250px;
    }
}

@media only screen and (max-width: 550px) {
    .carousel-root {
        min-width: 400px;
        max-width: 400px;
        min-height: 200px;
        max-height: 200px;
    }

    .projectItem .slider {
        min-width: 400px;
        max-width: 400px;
        min-height: 200px;
        max-height: 200px;
    }

    .imageWrapper {
        min-width: 400px;
        max-width: 400px;
        min-height: 200px;
        max-height: 200px;
    }

    .imageWrapper img {
        min-width: 400px;
        max-width: 400px;
        min-height: 200px;
        max-height: 200px;
    }

    .projectItem .error {
        min-width: 400px;
        max-width: 400px;
        min-height: 200px;
        max-height: 200px;
    }
}

@media only screen and (max-width: 450px) {
    .projectItem header {
        width: 75%;
    }

    .projectItemTechnologies {
        flex-wrap: wrap;
    }
    
    .carousel-root {
        min-width: 300px;
        max-width: 300px;
        min-height: 150px;
        max-height: 150px;
    }

    .projectItem .slider {
        min-width: 300px;
        max-width: 300px;
        min-height: 150px;
        max-height: 150px;
    }

    .imageWrapper {
        min-width: 300px;
        max-width: 300px;
        min-height: 150px;
        max-height: 150px;
    }

    .imageWrapper img {
        min-width: 300px;
        max-width: 300px;
        min-height: 150px;
        max-height: 150px;
    }

    .projectItem .error {
        min-width: 300px;
        max-width: 300px;
        min-height: 150px;
        max-height: 150px;
    }
}

@media only screen and (max-width: 350px) {
    .projectItemDesc {
        font-size: 14px;
    }
    
    .projectItemTechnologies img {
        height: 30px;
        width: 30px;
    }
}