.projectsPageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    grid-row: 2 / 3;
    overflow-y: scroll;
    min-height: 100%;
    align-self: start;
    background-color: #f3f3f3;
}

@media only screen and (max-width: 770px) {
    .projectsPageContainer {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 650px) {
    .projectsPageContainer {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 450px) {
    .projectsPageContainer {
        margin-top: 20px;
    }
}

@media only screen and (orientation: landscape) and (max-height: 420px) {
    .projectsPageContainer {
        margin-top: 20px;
    }
}