.projectItem {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: fit-content;
    align-items: center;
}

.imageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}

.projectItemLeft {
    margin-right: 10px;
}

.projectItemLeft .thumbs-wrapper {
    display: none;
}

.projectItemLeft .error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    text-align: center;
}