.header {
    width: 100%;
    padding: 10px 0; 
    font-size: 24px;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    justify-content: space-between;
    color: black;
    font-family: 'Raleway', sans-serif;
    z-index: 100;
    background-color: #f3f3f3;
    align-items: center;
    justify-self: start;
    align-self: start;
    height: 11vh;
}

.headerLeft {
    display: grid;
    width: 30%;
    align-self: center;
    justify-content: center;
}

.headerRight {
    width: 40%;
    display: grid;
    align-self: center;
    border-radius: 20px;
}

.headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.headerText :first-child {
    width: 100%;
}

.headerName {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 5px;
    color: #00478B;
    width: 100%;
}

.headerJob {
    color: #089992;
}

.headerLogo {
    width: 75px;
    height: 100px;
    border-radius: 25px;
    grid-row: 1 / 2;
    float: right;
    margin-right: 10px;
}

.noDecoration {
    text-decoration: none;
}

@media only screen and (max-width: 1100px) {
    .headerLeft {
        width: 40%;
    }

    .headerRight {
        width: 50%;
    }
}

@media only screen and (max-width: 850px) {
    .headerLeft {
        width: 45%;
    }

    .headerRight {
        width: 55%;
    }
}

@media only screen and (max-width: 770px) {
    .header {
        font-size: 20px;
    }

    .headerName {
        font-size: 28px;
    }

    .headerLeft img {
        width: 85px;
    }
}

@media only screen and (max-width: 650px) {
    .header {
        padding: 5px;
        justify-content: space-evenly;
        font-size: 16px;
        height: 8vh;
    }

    .headerLeft {
        display: flex;
        width: 35%;
    }
    
    .headerLogo {
        display: none;
    }

    .headerName {
        font-size: 24px;
    }

    .headerRight {
        width: 65%;
    }
}

@media only screen and (max-width: 450px) {
    .header {
        font-size: 12px;
        height: 6vh;
        padding: 5px 0;
    }

    .headerName {
        font-size: 16px;
    }
}