.header {
    width: 100%;
    background-color: #D96675;
    padding: 25px 0;
    font-size: 24px;
    display: flex;
    position: sticky;
    top: 0;
    margin-bottom: 25px;
    justify-content: space-between;
    color: white;
    font-family: 'Raleway', sans-serif;
    z-index: 5;
}

.headerLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
}

.headerRight {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerName {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 5px;
}

.headerJob {
    color: #AEAEAE;
}

.headerLogo {
    width: 100px;
    border-radius: 25px;
}