.header {
    width: 100%;
    background-color: #D96675;
    padding: 25px 0;
    font-size: 24px;
    display: flex;
    position: sticky;
    top: 0;
    margin-bottom: 25px;
    justify-content: space-between;
    color: white;
    font-family: 'Raleway', sans-serif;
    z-index: 100;
}

.headerLeft {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
}

.headerRight {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerName {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 5px;
}

.headerJob {
    color: #AEAEAE;
}

.headerLogo {
    width: 100px;
    border-radius: 25px;
}

.noDecoration {
    text-decoration: none;
}

.white {
    color: #FFFFFF;
}

.grey {
    color: #AEAEAE;
}

@media only screen and (max-width: 1550px) {
    .headerRight {
      width: 40%;
    }
}

@media only screen and (max-width: 1200px) {
    .header {
      font-size: 18px;
    }

    .headerName {
        font-size: 24px;
    }

    .headerLogo {
        width: 75px;
    }
}

@media only screen and (max-width: 1028px) {
    .headerRight {
      width: 50%;
    }

    .headerLeft {
        width: 40%;
    }
}

@media only screen and (max-width: 590px) {
    .header {
        font-size: 12px;
        padding: 5px;
    }

    .headerName {
        font-size: 14px;
    }

    .headerLogo {
        display: none;
    }

    .headerLeft {
        width: 30%;
        justify-content: center;
    }

    .headerRight {
        width: 67%;
    }
}