.contactContainer {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    justify-self: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10px;
    grid-row: 2 / 3;
}

.contactPic {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    height: fit-content;
    align-self: center;
}

.contactPic img {
    max-width: 20em;
    border: 3px solid #00478B;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.contactPic img:hover {
    border-color: #089992;
    cursor: pointer;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border-radius: 15px;
    padding-top: 20px;
}

.contactEmail {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Raleway";
    color: #00478B;
    text-decoration: none;
}

.contactEmail:hover {
    color: #089992;
}

.socialMedia {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon:hover {
    text-decoration: underline;
}

.emailForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px;
    border-radius: 25px;
    justify-content: center;
    height: fit-content;
    align-self: center;
}

.userInfo {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    justify-content: space-evenly;
}

.userInfo .MuiFormControl-root {
    width: 45%;
}

.formMessage {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.emailForm button {
    margin-top: 10px;
    font-size: 24px;
    font-family: 'Raleway';
}

.emailForm button:hover {
    background-color: #032BA3;
}

@media only screen and (max-width: 1175px) {
    .contactContainer {
        margin-top: 1vh;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        align-self: start;
    }

    .contactPic {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 60%;
        padding-left: 0;
    }

    .contactPic img {
        max-width: 35%;
    }

    .emailForm {
        width: 80%;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 950px) {
    .contactEmail {
        font-size: 18px;
    }
}

@media only screen and (max-width: 850px) {
    .userInfo {
        flex-direction: column;
    }

    .userInfo .MuiFormControl-root {
        width: 100%;
        margin: 10px 0;
    }    

    .contactPic {
        flex-direction: column;
        padding-left: 20px;
    }

    .contactPic img {
        max-width: 20em;
        height: auto;
    }

    .emailForm input {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .contactPic {
        width: 80%;
    }

    .contactPic img {
        max-width: 15em;
    }
}

@media only screen and (max-width: 450px) {
    .contactPic {
        width: 80%;
    }

    .contactPicAnchor {
        width: 80%;
    }
}

@media only screen and (max-width: 305px) {
    .contactPic {
        width: 100%;
    }
}

/*

@media only screen and (max-width: 450px) {
    .contactPic {
        flex-direction: column;
    }

    .contactImgAnchor {
        width: 50%;
    }
    
    .contactInfo {
        width: fit-content;
    }

    .contactEmail {
        font-size: 20px;
    }

    .socialMedia {
        justify-content: space-evenly;
    }

    .emailForm {
        margin-top: 10px;
    }

    .contactBackground {
        width: 350%;
    }
} */