.contactContainer {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    justify-self: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 10px;
}

.contactPic {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #283c4b;
    padding: 20px;
    border-radius: 20px;
    height: fit-content;
    align-self: center;
}

.contactPic img {
    max-width: 20em;
    border: 3px solid #e75557;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.contactPic img:hover {
    border-color: #37A8FF;
    cursor: pointer;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    border-radius: 15px;
    padding-top: 20px;
}

.contactEmail {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Raleway";
}

.contactEmail:hover {
    color: #37A8FF;
}

.socialMedia {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon:hover {
    text-decoration: underline;
}

.emailForm {
    background-color: #283c4b;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 15px;
    border-radius: 25px;
    justify-content: center;
    height: fit-content;
    align-self: center;
}

.userInfo {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr;
    margin-bottom: 25px;
}

.nameLabel {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.emailLabel {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.nameInput {
    width: 90%;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.emailInput {
    width: 90%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.formMessage {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.emailForm ::placeholder {
    color: rgb(179, 179, 179);
}

label {
    color: white;
    font-family: 'Raleway';
    margin-bottom: 5px;
    margin-left: 5px;
}

input[type=submit] {
    font-family: 'Raleway';
    color: black;
    margin-top: 10px;
    font-size: 24px;
    padding: 20px 15px;
    border-radius: 20px;
    background-color: #e75557;
    border: none;
    transition: ease-in-out 0.5s;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #37A8FF;
}

input[type=submit]:active {
	position:relative;
	top:1px;
}


input[type="text"], input[type="email"], textarea {
    padding: 8px;
    font-size: 18px;
    border-width: 3px;
    border-color: #e75557;
    background-color: #345f80;
    color: #ffffff;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 5px rgba(66,66,66,.94);
    line-height: 130%;
    transition: ease-in-out 0.3s;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #37A8FF;
}

textarea {
    resize: none;
    font-family: sans-serif;
}

@media only screen and (max-width: 1175px) {
    .contactContainer {
        flex-direction: column;
        align-items: center;
    }

    .contactPic {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 60%;
        padding-left: 0;
    }

    .contactPic img {
        max-width: 35%;
    }

    .emailForm {
        width: 80%;
        margin-top: 25px;
    }
}

@media only screen and (max-width: 950px) {
    .contactEmail {
        font-size: 18px;
    }
}

@media only screen and (max-width: 850px) {
    .userInfo {
        display: flex;
        flex-direction: column;
    }

    .userInfo input {
        width: 96.5%;
    }

    .emailLabel {
        margin-top: 25px;
    }

    .contactPic {
        flex-direction: column;
        padding-left: 20px;
    }

    .contactPic img {
        max-width: 20em;
        height: auto;
    }
}

@media only screen and (max-width: 650px) {
    .contactContainer {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 500px) {
    .contactPic {
        width: 80%;
    }

    .contactPic img {
        max-width: 15em;
    }
}

@media only screen and (max-width: 450px) {
    .contactPic {
        width: 80%;
    }

    .contactPicAnchor {
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    
}

/*

@media only screen and (max-width: 450px) {
    .contactPic {
        flex-direction: column;
    }

    .contactImgAnchor {
        width: 50%;
    }
    
    .contactInfo {
        width: fit-content;
    }

    .contactEmail {
        font-size: 20px;
    }

    .socialMedia {
        justify-content: space-evenly;
    }

    .emailForm {
        margin-top: 10px;
    }

    .contactBackground {
        width: 350%;
    }
} */